body,
html {
  width: 100%;
  height: 100%;
}
#discover {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#discover header {
  background-color: #36be66;
  height: 4rem;
  width: 100%;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
}
#discover section {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
#discover section .dis-con-tit {
  display: flex;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid #eee;
}
#discover section .dctl {
  flex: 1;
  font-size: 0.8rem;
  text-align: center;
}
#discover section .br {
  border-right: 0.1rem solid #ddd;
}
#discover section .main-top {
  margin-top: 1rem;
}
#discover section .main-top img {
  display: block;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
#discover section .main-title {
  margin-top: 1rem;
  font-size: 1rem;
  margin-left: 5%;
  font-weight: bold;
}
#discover section .main-mes {
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-top: 1rem;
}
#discover section .main-mes .mes-l {
  flex: 1;
  color: #a1a1a1;
}
#discover section .main-mes .mes-l .fa {
  font-size: 1rem;
  padding: 0 0.3rem;
  vertical-align: middle;
}
#discover section .main-mes .mes-r {
  text-align: right;
}
#discover footer {
  width: 100%;
  height: 4.1rem;
}
